@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arvo:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #edf2d7;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  background-color: #654fef;
}
.header h1 {
  font-size: 2.3rem;
  weight: bold;
  color: #fff;
  font-family: "Arvo", serif;
  cursor: pointer;
}
.header h1:hover {
  background-color: #fff;
  color: #654fef;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-bar nav {
  margin-right: 40px;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
}
.nav-bar a {
  font-size: 1rem;
  weight: bold;
  color: #fff;
  padding: 0px 10px;
  text-decoration: none;
  transition: all 0.15s ease-in;
}
.nav-bar a:hover {
  color: rgb(27, 27, 27);
}

.main {
  display: flex;
  margin-top: 2rem 3rem;
}
.main aside {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  width: 25%;
  margin-right: 25px;
}
.main .course {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  font-size: 1rem;
  weight: bold;
  color: #fff;
  background-color: #654fef;
  width: 100%;
  height: 110px;
  margin: 20px 10px;
  line-height: 110px;
  text-align: center;
}

.m-main {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 75%;
  flex-direction: column;
}
.m-main img {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 450px;
  height: 250px;
}
.m-main h2 {
  font-size: 4rem;
  weight: bold;
  color: #654fef;
  margin-top: 2rem;
}
.m-main p {
  font-size: 2rem;
  weight: bold;
  color: rgb(27, 27, 27);
  margin-top: 2rem;
}

.cards {
  width: calc(100% - 6rem);
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}

.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.card img {
  width: 100%;
}
.card-content {
  line-height: 1.5rem;
  padding: 15px;
  background-color: #fff;
}
.card p {
  font-size: 1.1rem;
  weight: 100;
  color: rgb(27, 27, 27);
  margin: 10px 0;
}
.card span {
  font-size: 0.9rem;
  weight: 100;
  color: rgb(27, 27, 27);
  display: inline-block;
  margin: 10px 0;
}

.footer {
  padding: 2rem 3rem;
  margin-top: 30px;
  background-color: #654fef;
  display: flex;
  justify-content: space-between;
}
.footer .summary {
  width: 50%;
}
.footer .summary p {
  font-size: 1.2rem;
  weight: 100;
  color: #fff;
  text-align: justify;
}
.footer .links {
  padding: 0 5rem;
}
.footer .links ul {
  list-style-type: none;
  display: flex;
}
.footer .links ul li {
  padding: 0 10px;
}
.footer .links a {
  font-size: 1.2rem;
  weight: bold;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.15s ease-in;
}
.footer .links a:hover {
  color: rgb(27, 27, 27);
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.berger {
  display: none;
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
  .main {
    flex-direction: column-reverse;
    margin: 1rem;
  }
  .main .m-main {
    width: calc(100% - 2rem);
    height: 500px;
    margin-bottom: 20px;
  }
  .main .m-main p {
    font-size: 1.3rem;
  }
  .main aside {
    width: calc(100% - 2rem);
    height: 600px;
  }
  .cards {
    grid-template-columns: auto;
  }
  .footer {
    flex-direction: column;
  }
  .footer .summary {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .links {
    width: 100%;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */